# 환경변수
.env
.env.local
.env.production
.env.development


# 의존성
node_modules/
.pnp
.pnp.js


# React Native / Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*


# NestJS 빌드
apps/server/dist/


# OS / 에디터
.DS_Store
Thumbs.db
.idea/
.vscode/settings.json


# 로그
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Firebase 서비스 계정 키
*serviceAccountKey*.json
firebase-adminsdk*.json
